.card-link{
    text-decoration: none;
    color: black;
}

.card-link:hover, .card-link:visited {
    opacity: 0.8;
    font-weight: bold ;
}

.badge{
    color:black!important;
    background-color:rgb(179, 179, 204)!important;
}
