nav{
    border: .1em solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background:white;
}

a {
    color:black;
}

a:hover{
    opacity: 0.5;
}

$img-w: 30px;

.navbar-brand
{
    position:absolute;
    left: calc(50% - #{$img-w});
    top:8px;
}

.nav-brand-img{
    width: $img-w;
    height:auto;
}
