<nav class="navbar navbar-expand-lg my-4 rounded">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="/"><img class="nav-brand-img" src="../../../assets/imgs/cjc-logo.png"></a>
        <button class="navbar-toggler mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars text-dark"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
