.header{
    text-shadow: 1px 1px 5px rgb(38, 57, 77);
}

.gcp{
    background-color: white;
    // color: #FBBC05;
    // background-image: linear-gradient(to right, #4285F4, #FBBC05, #EA4335);
    // background-color: #34A853;
    // text-shadow: 1px 1px #34A853;
    border: .25px solid black;
}
