
<div class="card mx-auto mt-5 border-dark" style="max-width:75%;">
    <div class="card-header bg-light">
      <h3 class="card-title">Projects</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="text-dark list-link" href="https://github.com/calejc">Github</a></li>
        <li class="list-group-item"><a class="text-dark list-link" href="https://mcc-movies.herokuapp.com/about">Movie Databse Project using Spring Boot</a></li>
    </ul>
  </div>